/* -- ASPxNavBar -- */
.dxnbControl_Office2003OliveNavigation
{
	font: 9pt Tahoma;
	color: Black;
	background-color: #CBDAA5;
	padding: 3px 0px;
}
.dxnbControl_Office2003OliveNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_Office2003OliveNavigation
{
    font: 11px Tahoma;
	color: Black;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_Office2003OliveNavigation table
{
    font: 11px Tahoma;
	color: Black;
}
.dxnbGroupHeaderCollapsed_Office2003OliveNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_Office2003OliveNavigation
{
	background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #AFC38B;
    border: Solid 1px #9FBB78;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_Office2003OliveNavigation
{
    font: 11px Tahoma;
	color: Black;

	background-color: #B5C48F;
	font-weight: bold;

	background-image: url('nbHeaderGroup.gif');
    background-repeat: repeat-x;	
	
	border: Solid 1px #758D5E;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_Office2003OliveNavigation table
{
    font: 11px Tahoma;
	color: Black;
	font-weight: bold;
}
.dxnbGroupHeader_Office2003OliveNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_Office2003OliveNavigation
{
    font: 11px Tahoma;
	background-color: #F2F1E5;
	border: 0px;
	border-bottom: Solid 1px #758D5E;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_Office2003OliveNavigation
{
    font: 11px Tahoma;
    color: #535A62;
    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_Office2003OliveNavigation
{
    color: #535A62;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_Office2003OliveNavigation
{
	background-color: #DCE4CA;
}
